{% load i18n humanize_time %}

{% if main_task %}
<p>
    <a href="{{ main_task.admin_link }}">{% firstof main_task.desc main_task.name %}</a>
    {{ main_task.state|default_if_none:"" }}
    {{ main_task.human_progress_string }}
</p>
{% elif sub_tasks %}
    <table class="table-bordered table-condensed table-striped huey_monitor">
    <thead>
        <tr>
            <th>{% trans 'Task' %}</th>
            <th>{% trans 'State' %}</th>
            <th>{% trans 'Progress' %}</th>
            <th>{% trans 'Create date' %}</th>
            <th>{% trans 'Hostname' %}</th>
            <th>{% trans 'PID' %}</th>
            <th>{% trans 'Thread' %}</th>
            <th>{% trans 'Exception Line' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for sub_task in sub_tasks %}
        <tr>
            <td>
                <a href="{{ sub_task.admin_link }}">{% firstof sub_task.desc sub_task.name %}</a>
            </td>
            <td>{{ sub_task.state|default_if_none:"-" }}</td>
            <td>{{ sub_task.human_progress_string }}</td>
            <td>{{ sub_task.state.create_dt }}</td>
            <td>{{ sub_task.state.hostname }}</td>
            <td>{{ sub_task.state.pid }}</td>
            <td>{{ sub_task.state.thread }}</td>
            <td class="exception_info">
                {% if sub_task.state.exception_line %}
                    <strong>{{ sub_task.state.exception_line }}</strong>
                    <pre>{{ sub_task.state.exception }}</pre>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>This task has no sub tasks.</p>
{% endif %}
